body {
    margin: 0;
    overflow: hidden;
    background: #f3f1f1;
}

img {
    max-width: 500px; 
    max-height: 400px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 15px;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}